{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "window": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb"
  ],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
	"ignorePatterns": ["**/*.min.js"],
  "rules": {
    "camelcase": [2, {"properties": "always"}],
    "no-console": "off",
		"quotes": ["warn", "single"],
		"max-len": ["error", { "code": 120 }],
		"no-tabs": ["error", { "allowIndentationTabs": false }]
  }
}
